/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: Roboto-Black;
  src: url(./assets/fonts/Roboto/Roboto-Black.ttf);
}

@font-face {
  font-family: Roboto-Light;
  src: url(./assets/fonts/Roboto/Roboto-Light.ttf);
}

$default-color: #D42026;

* {
  margin: 0;
  padding: 0;
  font-family: Roboto-Light, sans-serif;
  font-style: normal;
  font-size: 1rem;
  line-height: 1.2rem;
  color: $default-color;
  -webkit-transition:0.3s;
  -moz-transition:0.3s;
  -o-transition:0.3s;
  transition:0.3s;
}

.d-flex {
  display: flex;
}

.w-100 {
  width: 100%;
}

.w-25 {
  width: 25%;
}

.w-50 {
  width: 50%;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-start {
  justify-content: flex-start;
}

.justify-content-center {
  justify-content: center;
}

.align-items-center {
  align-items: center;
}

.align-items-start {
  align-items: flex-start;
}

.flex-row {
  flex-direction: row;
}

.flex-column {
  flex-direction: column;
}

@keyframes placeHolderShimmer{
  0%{
    background-position: -468px 0
  }
  100%{
    background-position: 468px 0
  }
}

.animated-background {
  animation-duration: 1.25s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeHolderShimmer;
  animation-timing-function: linear;
  background: darkgray;
  background: linear-gradient(to right, #eeeeee 10%, #dddddd 18%, #eeeeee 33%);
  background-size: 800px 104px;
  height: auto;
  position: relative;
  border: none !important;
  color: transparent !important;
}
